body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 60px 20px;
    background-image: url('cloud.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #4682b4;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #5f9ea0;
}

.memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.meme {
    text-align: center;
    flex: 1 1 calc(50% - 20px);
    max-width: 300px;
    margin: 10px;
}

.meme img,
.meme video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.meme p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

/*raindrops all same size*/
.raindrop img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}

/* mobile support */
@media (max-width: 768px) {
    .meme {
        flex: 1 1 100%; 
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

   
    nav ul {
        flex-direction: row; 
        justify-content: space-between; 
    }

    nav ul li {
        flex: 1 1 30%; 
        margin-bottom: 10px; 
    }

    nav ul li a {
        font-size: 1.2rem;
        padding: 15px 25px;
        display: block;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .meme {
        flex: 1 1 100%; 
    }
}
